
</html>

<head>
<meta name="viewport" content= "width=device-width, user-scalable=no">
      <style type="text/css">
    .loadingDiv{
      position:absolute;
      width:100%;
      height:100%;
      background-image:url('https://smalltravelgroups.com/assets/lazy/load.gif');
      background-repeat:no-repeat;
      background-position:center;
      z-index:10000000;
      opacity: 0.4;
      filter: alpha(opacity=40); /* For IE8 and earlier */
    }
      .woot-widget-bubble{
          display:none;
      }
    </style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

function checkToken(checkToken){
   /* if(checkToken){
        document.cookie  =  "cw_conversation="checkToken;
        window.authToken = checkToken;
        //window.webkit.messageHandlers.nativeProcess.postMessage(checkToken);
        //window.webkit.messageHandlers.nativeProcess.postMessage("hi");

    }*/
   window.authToken = checkToken;
   document.cookie  =  "cw_conversation="+checkToken;
   //window.webkit.messageHandlers.nativeProcess.postMessage(window.authToken);
   // window.webkit.messageHandlers.nativeProcess.postMessage(name);

}
</script>
<script>
 var BASE_WEBSITE_TOKEN;
(function(d,t) {
  var BASE_URL = 'https://chat-dev.quickwork.co';
 var WEBSITE_TOKEN = 'sB6dLvG92CJ6HPJmnorLi9Sd';
 BASE_WEBSITE_TOKEN = WEBSITE_TOKEN;
  var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src= BASE_URL + "/packs/js/sdk.js";
  s.parentNode.insertBefore(g,s);
  g.onload=function(){
    window.qwcSDK.run({
      websiteToken: BASE_WEBSITE_TOKEN,
      baseUrl: BASE_URL
    })
  }
})(document,"script");

var timer = 0;
removeFunction = function() {
  $(document).ready(function() {

    alert("token : " +window.authToken);
    $('.woot-widget-bubble').addClass('woot--hide');
    $('.woot-widget-holder').removeClass('woot--hide');
    $('.loadingDiv').remove();
    //var data = {document.cookie,window.location.href,window.location.href};
    console.log( "window.authToken: " +window.authToken );
    console.log( "window " +window );
  });

  $( window ).on( "load", function() {
      console.log( "window loaded" );
      timer = setTimeout(function () {
           removeFunction();
           var data =document.cookie+';referer_url='+window.location.href+';websiteToken='+window.location.href;
           window.webkit.messageHandlers.nativeProcess.postMessage(data);
      }, 50);
  });
}

  timer = setTimeout(function () {
     removeFunction();
 }, 50);
 
</script>
<body>
    <style>
        .close{
            display:none;
        }

        </style>
    <div class="loadingDiv"></div>
</body>
</html>

